#ii{
text-align: center;
}
.heading_1{
font-family: Georgia;
}
.div1{
background-color: crimson;
display: inline-block;
}
.div2{
display: inline-block
}
.div3{
background-color: plum;
}